body {
	font-family: 'Montserrat';
	font-weight: 100;
}
body{
   
   
	background: url('img/ja_bolja5.jpg') top center no-repeat; 
	
	background-attachment:fixed;
	background-size: cover;
	height: 750px;
	background-position: 0% 0%;

	
}
.row img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
.header {
	height: 750px;

	background-size: cover;
}
.header a {
	font-size: 24pt;
	color: #fff;
	margin-top: 50px;
	margin-left: 50px;
	display: block;
	text-transform: uppercase;
}
.header p {
	font-size: 15pt;
	color: white;
	text-align:justify;
	margin-right: 130px;
	margin-left: 200px;
	padding-right:30px;
	margin-top:300px;
	/* text-transform: lowercase; */
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%,-50%); */
	/* margin: 0; */
	/* font-family: 'Lobster', cursive; */
}
.text {
	font-size:22pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
}
.slika {
		margin-top:80px;
		padding-left: 30px;

	}

@media screen and (max-width:950px) {
	.header {
		height: 500px;
		left:0%;
		transform: translate(5%,5%);
	}
	.header a {
		display: block;
		position: absolute;
		top: 50%;
		left: 60%;
		transform: translate(-50%,-50%);
		margin: 0;
		font-size: 35pt;
	}
	.header p {
		display: none;
	}
	
	
	
}

.main-menu {
	width: 100%;
	
	position: fixed;
	background-image: url('img/pozadina3.png');
	z-index: 1000;

}

.sirina {
	width: 100%;
}
.drustvo {
	 margin-right: 70%
}

.main-menu li {
	display: inline-block;
	height: 70px;
	transition: 3s;

}
.main-menu li a {
	color: white;
	font-size: 15pt;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 80px;
	display: block;
}
.main-menu li:hover {
	background-color: #F1C40F;
}
.main-menu li:hover a {
	text-decoration: none;
	color: #fff;
}
.hambi {
	display: none;
	line-height: 100px;
	background-color:black;
	padding-right: 50px;
	text-align: right;
	z-index: 1000;
	
}
.hambi .glyphicon {
	font-size: 20pt;
	cursor: pointer;
}
.strelica {
	line-height: 60px;
	
	text-align: center;
	
}
.strelica .glyphicon {
	font-size: 40pt;
	cursor: pointer;

}
@media screen and (max-width:950px) {
	.main-menu ul{
		margin-right: 0px;
	}
	.main-menu {
		padding: 0;
		display: none;
		margin-top: 100px;
		z-index: 1000;
	}
	.main-menu li {
		display: block;
		text-align: center;
		width: 100%;
		background-color: black;
		z-index: 1000;

	}
	.hambi {
		display: block;
		 position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
		
	}
	.slika {
		margin-top:0px;
		padding-left: 0px;
	}
	.square-blocks div{
		width: 100%;
		display: inline-block;
	}

}
@media screen and (min-width:951px) {
	.main-menu {
		display: block!important;
	}
	}



.gallery img {
	width: 100%;
	
}
.gallery div {
	padding: 5px;

}

.overlay {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 1s ease;

}

.image-container:hover .overlay {
	opacity: 0.7;

}

.image-container:hover img {
	filter: blur(3px);

}
.overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 18pt;
}
.overlay p a {
	color: #fff;
	text-decoration: none;
}



.contact-form {	
	background: url('img/pozadina3.png');
	padding: 100px;
	width: 70%;
	height: 80%;
	margin-left: 180px; /* or absolute */

}
.contact-form h1 {
	font-size: 24pt;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.form-control {
	height: 45px;
	border-radius: 0;
	border: 1px solid #000;
}
.form-control::placeholder {
	color: #d3d3d3;
	font-size: 15pt;
	font-weight: normal;
}
.btn, .btn:hover {
	padding: 15px 25px;
	background-color: #000;
	color: #fff;
	border-radius: 0;
}
.btn-default {
	border: 0;
}

@media screen and (max-width:950px) {
	.contact-form {
		padding: 30px;
		margin-left: 80px;
	}
	.square-blocks p {
		font-size: 8pt;
	}

}

.video{
	width:1066;
	height:600;

}


.footer {
	height: 70px;
	background: url('img/pozadina3.png') no-repeat;
	background-size: cover;
}
.footer img {
	margin: 100px 0 0 100px;
}	
.footer ul {
	margin-top: 100px;
	float: right;
}
.footer ul li {
	display: inline-block;
}
.footer ul li a {
	color: #fff;
	font-size: 18pt;
	padding-left: 30px;
	padding-right: 30px;
	display: block;
	
}

/* @media screen and (max-width:760px) {  */
	/* .footer img { */
		/* width: 50%; */
		/* margin: 80px auto 0 auto; */
		/* display: block; */
	/* } */
	/* .footer ul { */
		/* margin: 80px 0 0 0; */
		/* text-align: center; */
		/* float: none; */
	/* } */
	/* .footer ul li { */
		/* display: block; */
	/* } */
/* } */

.section {
	margin: 50px 0;
	
}
.square-blocks div {
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 15%;
	position: center;
	
}
.square-blocks .light-gray-bg {
	background-color:#222222;
	opacity:0.9;

}
.square-blocks .dark-gray-bg {
	background-color:  #525252;
	opacity:0.9;
}
.section h1 {
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
.section p{
	text-transform: normal;
	font-size: 15pt;
	color: white;
}
.square-blocks p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	font-size: 10pt;
}
.tmb{
	filter: grayscale(100%);
}
.about-me img,
.article img {
	width: 100%;
}
.about-me div,
.article div {
	padding: 0;
}
.about-me-text,
.article-text {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.section-title {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.square-blocks span {
	font-size: 32pt;
}
.square-blocks a {
	color: #000;

}
.square-blocks a:hover {
	color: #F1C40F;
	text-decoration: none;
}
#vegas {
	height: 500px;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    
    background-color: black;
    cursor: pointer;
    padding: 18px;
    
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width:100%;
    

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .accordion:hover {
    background-color: #F1C40F;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: black;
    display: none;
    overflow: hidden;
}

